@import 'normalize.scss';

$link: var(--link);
$green: #27ae60;

* {
	box-sizing: border-box;
}
:root {
	--link: #333;
}

body {
	font-size: calc(16px + .25vw);
	font-family: 'Open Sans', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Oswald', serif;
	margin: 0;
	color: #333;
}

h1,
.h1 {
	font-size: clamp(13px, calc(1.63rem + 8.25vw), 12rem);
	line-height: 1.2;
}

h2,
.h2 {
	font-size: calc(1.43em + .25vw);
	line-height: 1.2;
}

h3,
.h3 {
	font-size: calc(1.23em + .25vw);
	line-height: 1.2;
}

h4,
.h4 {
	font-size: calc(1.13em + .25vw);
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: $link;

	&:hover,
	&:active,
	&:focus {
		color: #000;
	}
}


ul {
	list-style: none;
}


input,
textarea {
	display: block;
	margin-bottom: 1em;
	width: 100%;
	max-width: 30em;
	background: #0000;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

img {
	max-width: 85vw;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 80%;
}

main {
	max-width: 2000px;
	margin: 0 auto;
}

.btn {
	background: $green;
	color: #fff;
	cursor: pointer;
	height: 3rem;
    border-radius: .25rem;
	&:active,
	&:focus {
		outline: 2px solid #000;
	}
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.barcode {
	font-family: 'Libre Barcode 39', Arial;
	font-size: 2em;
	margin: 0;
}

.text-end {
	text-align: right;
	text-align: end;
}

.home {
	.intro.grid-container {
		display: grid;
		grid-template-columns: 1.1fr 2.5fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "info Needle""info Needle";
		@media only screen and (max-width: 50rem) {
			grid-template-columns: 1.3fr 1fr;
		}
		@media only screen and (max-width: 45rem) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.info {
		display: grid;
		grid-template-columns: 4.4rem ​2f;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "nav name""social name""social about";
		grid-area: info;
		grid-gap: 1em 0;

		@media only screen and (max-width: 30rem) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-areas: "nav nav""name name""social social""about about";
			height: 34.125rem;
		}
	}

	.nav {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-row-end: span 1;
		z-index: 1;
		@media only screen and (max-width: 30rem) {
			grid-row-start: 1;
			grid-column-start: 1;
			grid-row-end: span 1;
		}
	}

	ul {
		padding-left: 10px;
	}

	.name {
		grid-row: 1;
		grid-column: span 2 / -1;

		header {
			text-align: right;
			margin-top: 1.2em;
			margin-bottom: 3em;

			h1 {
				line-height: 1;
				text-shadow: 2px 1px #fff;
				&:before {
					content: '';
					display: grid;
					height: 10px;
					width: 53.6%;
					background: #000;
					margin-bottom: 1vh;
					margin-left: auto;
				}
			}
		}

		@media only screen and (max-width: 30rem) {
			grid-row: 2;
			grid-column: span 2;

			header {
				h1 {
					text-align: left;

					&:before {
						margin-left: 0;
					}
				}
			}
		}
	}

	.about {
		p {
			padding: 0 0 1rem 0;
			line-height: 1.2;
			margin-top: 0.6rem;
		}

		@media only screen and (max-width: 30rem) {
			grid-row: 3;
			grid-column: span 2;
		}
	}

	.needle {
		position: relative;

		svg {
			position: absolute;
			width: 60vw;
			right: 0;
			z-index: -1;
		}
	}
}

.portfolio {
	.h2 {
		height: 2em;
		grid-column: 1;

		@media only screen and (max-width: 30rem) {
			text-align: center;
		}
	}

	.h3 {
		margin-bottom: 1em;
		text-align: center;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15.125rem, 1fr));
		margin-bottom: 5em;

		.card-container {
			grid-column: span 4;
			display: flex;
			flex-flow: row wrap;
			@media only screen and (max-width: 56rem) {
				justify-content: center;
			}			
		}

		.portfolio-card {
			position: relative;
			transition: .3s cubic-bezier(0.2, 1.18, 0.02, 1.99) transform;
			min-width: 20.625rem;
			width: 50%;
			max-width: 100vw;

			&:hover {
				transform: skew(-1deg, -1deg);
			}

			h1 {
				font-size: 1.55em;
				font-weight: normal;
			}

			@media only screen and (max-width: 45rem) {
				min-width: 16.925rem;
				max-width: 100%;
			}
		}

		.item1 {
			grid-area: item1;
			background: #fff;
			box-shadow: -7px 0 50px 7px rgba(132, 132, 132, 0.10)
		}

		.item2 {
			grid-area: item2;
			background: #fff;
			box-shadow: 33px 0 50px 7px rgba(132, 132, 132, 0.10)
		}

		.item3 {
			grid-area: item3;
			background: #fff;
			box-shadow: -7px 28px 50px 7px rgba(132, 132, 132, 0.10)
		}

		.item4 {
			grid-area: item4;
			background: #fff;
			box-shadow: 33px 28px 50px 7px rgba(132, 132, 132, 0.10)
		}

		.badge {
			position: absolute;
			background: $green;
			color: #fff;
			width: 175px;
			height: 30px;
			max-width: 100vw;
			bottom: 0;
			right: 0;
			padding: 0.2em 0.5em;
			text-align: center
		}

		@media only screen and (max-width: 45rem) {
			grid-template-columns: 1fr 1fr;
			overflow: hidden;
		}

		@media only screen and (max-width: 30rem) {
			grid-template-columns: 1fr
		}
	}

	.recent {
		.container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;

			.recent-card {
				max-width: 17em;
				width: 100%;

				h1 {
					font-size: calc(1em + 0.75vw);
				}

				a {
					display: block;
				}
			}
		}
	}

	a {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		padding: 2em;
		background-color: #fff;
	}

	img {
		max-width: 100%;
	}

}

.process {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 3fr;
		margin-bottom: 3rem; 
		min-height: 103vh;
		@media only screen and (max-width: 30rem) {
			grid-template-columns: 1fr
		}
	}

	.header-sticky {
		@media only screen and (max-width: 30rem) {
			grid-column: span 3
		}
	}

	ul {
		list-style: circle;
		padding-left: 1em;
	}

	blockquote {
		font-size: 1.5em;
		margin: 1rem;
	}

	.process-copy {
		grid-column: span 2;
		display: inline-flex;
		flex-flow: column wrap;
		justify-content: space-between;
		max-width: 57.5rem;
		section {
			margin-bottom: 2rem;
		}

		h2 {
			font-size: calc(1.03em + 1vw);
		}
		@media only screen and (max-width: 55rem) {
			grid-column: span 2
		}		
	}

	.process-diagrams {
		display: inline-flex;
		flex-flow: column;
		justify-content: space-around;
		@media only screen and (max-width: 55rem) {
			grid-column: 1/1;
		}		
		@media only screen and (max-width: 30rem) {
			grid-column: span 3;
			align-items: center;
		}
	}

	.diagram {
		position: sticky;
		top: 7em;
		@media only screen and (max-width: 40rem) {
			max-width: 10rem;
		}			
	}

	.diagram-2 {
		position: sticky;
		top: 17em;
	}

	.diagram-3 {
		position: sticky;
		top: 31em;
	}
}

.contact {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		margin-bottom: 5em;
	}

	.contact-form {
		grid-column: span 5;
	}

	.contact-details {
		p {
			margin: .25em 0;
		}
	}

	form {
		margin-top: 1em;
	}
}

@import 'page/portfolio.scss';

/* Modifiers */
.img-fluid {
	max-width: 100%;
	height: auto;
}

.section-padding {
	padding: 5em 0;
	margin: 1em;
	background: rgba(255, 255, 255, 0.9);
	border: 1em solid #fff;

	&.process {
		background: rgba(255, 255, 255, 0.95);
	}
	@media only screen and (max-width: 40rem) {
		padding: 1em 0;
	}			
}

.header-sticky .h2 {
	position: sticky;
	top: 3em;
	height: 3em;
}

.text-chroma {
	color: #fff;
	text-shadow: 0 0 0px #000, -0.5px -0.5px 0px #72e8f7fa, 0.5px 0.5px 0px #e91e63d4;
	&-2 {
		text-shadow: 0 0 0px #000, -1.5px -1.5px 0px #72e8f7fa, 1.5px 0.5px 0px #e91e63d4
	}
}