.portfolio-page{
	nav{
		text-align: center;
		z-index: 2;
		margin-top: 1em;
		margin-block-start: 1rem;
		margin-block-end: 3rem;		
		h1{ 
			font-size: 1.6rem;
		}
		ul{
		    padding: 0;
		    margin: 0 1em;
			li{
				display: inline-block;
				margin: 0 0.25em;
				min-width: 6ch;				
			}
		}  
		.flex{
			justify-content: space-between;
		}
	}
	header{		
		&.portfolio-intro{
			position: relative;
			background-image: var(--bg-image);
			background-size: cover;
			background-position: bottom;	
			.container {
				display: flex;
				align-items: center;
				height: 50svh;
			}
			.h2{
				font-size: calc(1.93em + .25vw);
				margin-inline-start: .5rem;
			}
		}
	}
	article{
		margin-top: 1em;
	}
	figure{
		display: inline-block;
		margin-bottom: 1em;
		img{
			border: 1px solid #eee;
		}
	}
	ul{
		list-style: disc;
	}
	h3,.h3,h4,.h4{
		margin-block-start: 3rem;
		margin-block-end: .25rem;
	}

	.portfolio-meta{
		display: flex;
		justify-content: space-between;
		margin-bottom: 3em;
	}
	.portfolio-body {
		img {
			width: 100%;
		}
	}
} 
.portfolio-archive{
	nav{
		position: relative;
	}
}
.other-works{
	.grid{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));	
		grid-gap: 1rem;	
	}
	figure{
		h1{
			font-size: 1.3rem;
		}
		a{
			display: block;
			height: 14rem;
			overflow: hidden			
		}
	}
}